Package: com.razzile.azspeed
Name: AZSpeed
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Razzile
Author: Razzile
Section: Tweaks
Version: 0.0.1-24
Installed-Size: 16
